body {
  font-family: Helvetica, Arial, sans-serif;
}

p, ul {
  font-size: 15px;
}

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #123e7a;
    border-color: #123e7a;
  }

.active a {
  background-color: #0c2a54 !important;
} 
  
.hr {
  border-color:#9c9898;
}

#logo {
    width: 50px;
    height: 50px;
    margin-right: 18px;
}

#biblio {
 width: 100%;
}

#imm1 {
  float: left;
}
#imm2 {
  float: right;
}
#imm3 {
  float: right; 
}

#banner {
  width: 100%;
  height: 300px;
}

#concorso, #mondo, #gentilezza, #corsi {
  text-decoration: underline;
}

.book {
  height: 40px;
  width: 40px; 
}

table {
  border-collapse:collapse;
  }
td, th {
  border:1px solid #ddd;
  padding:8px;
  } 

/* PAGINA ADMIN.PHP */
.admin {
    position: center;
    height: 100%;
    width: 280px;
    background-color: #cbd6da;
    border-radius: 10px;
    float: left;
    margin: 100px;
    margin-top: 60px;
    margin-bottom: 30px;
    padding: 20px;
  }  
  
.admin1 {
    text-align: center;
    margin-top: 10px;
  }
  
.admin2 {
    color: black;
  }
  
.icona {
    width: 40px;
    height: 40px;
    float: left;
  }  

/* PAGINA ADMIN_USER.PHP, ADMIN_BOOK.PHP */
.boxFunction {
  float: left;
  margin: 70px;
}


  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  .row.content.volontari {height: 1600px;}
  .row.content {height: 1100px;}
  .row.content.registrati, .row.content.biblioteca {height: 800px;}
  .row.content.contatti {height: 600px;}
  .row.content.accedi {height: 500px;}

  
  
  /* Set gray background color and 100% height */
  .sidenav {
    padding-top: 20px;
    background-color: #f2f2f2;
    height: 100%;
  }
  
  /* Set black background color, white text and some padding */
  footer {
    background-color: #0c2a54;
    color: white;
    padding: 15px;
    width: 100%;
  }

#contatti {
  height: 100%;
  float:left;
  text-align: center;
}

#social {
  height: 100%;
  float: right;
  text-align: center;
}

#fb {
  margin: 10px;
}
  
  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height:auto;} 
  }
